@import './../scss/_variables';

.Modal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 30rem;
  width: 40rem;
  background-color: $white-color;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(143, 143, 143, .7);
  // opacity:0.6;
  height: 100%;
  display: flex;
}

.toggle__button {
  height: 5rem;
  width: 5rem;
  background: rgba($primary-color, $alpha: 0.2);
  position: absolute;
  right: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;

  .material-icons {
    font-size: 5rem;
  }

  &.menu--toggle {
    top: 120px;
  }

  &.scroll--top {
    bottom: 8rem;
  }

  &.details--expanded {
    right: 26%
  }
}