@import './../scss/_variables';

.Modal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;  
  width: 40rem;
  background-color: $white-color;

  &.login {
    height: 30rem;
  }
  &.register {
    height: 40rem;
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(143, 143, 143, .7);
  // opacity:0.6;
  height: 100%;
  display: flex;
}