@import "./../../scss/_variables";

footer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .copyright {
    font-size: 0.8rem;
    align-self: flex-end;
    padding: 0px;
    margin: 0px;
  }
}