@import '../_variables';

button {
    height:3rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    color: $white-color;
    font-size: 1rem;

    &.primary {
        background-color: $primary-color;
    }

    &.secondary {
        background-color: $secondary-color;
    }
}