.header {
    grid-area: header;
    // height: 10vh;
}

.games {
    grid-area: games;
    // height: 80vh;
}

.details {
    grid-area: details;
    // height: 80vh;
}

.footer {
    grid-area: footer;
    // height: 10vh;
}

.grid-container-details {
    display: grid;
    grid-template-areas:
        'header header'
        'games details'
        'footer footer';
    grid-template-rows: 100px auto 100px;
    grid-template-columns: 75% 25%;
    grid-gap: 2px;
    background-color: #2196F3;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header'
        'games details'
        'footer footer';
    grid-template-rows: 100px auto 100px;
    grid-template-columns: 100% 0%;
    grid-gap: 2px;
    background-color: #2196F3;
    height: 100vh;
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 0;
}