/* 
.
. --- Variables ---- 
.
*/
// Font
$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-stack-two: Arial, sans-serif;
$font-size: 25px;

// Color
$primary-color: #327473;
$secondary-color: #e8562a;
$grey-color: #8f8f8f;
$light-grey-color: grey;
$red-color: #F44336;
$green-color: #43A047;
$white-color: #fff;
$black-color: #000;
$background-color: #ebebeb;