@import "./../../scss/_variables";

header {
    height: 100%;
    display: flex;

    img {
        height: 100%;
        vertical-align: middle;
    }

    .logo {
        flex: 2;
        text-align: left;
    }

    .actions {
        flex: 1;
        text-align: right;
        margin-right: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    i {
        vertical-align: middle;        
    }

    .button button {
        width: 10rem;
    }
}