@import "./../../scss/_variables";

nav {
    height: 100%;
    font-family: $font-stack;

    img {
        width: 167px;
        height: 45px;
        vertical-align: middle;
    }

    .logo {
        display: inline-block;
        line-height: 90px;
        margin: 0 0 0 3%;
    }
}